.main {
  width: 100svw;
  /* height: 100svh; */
  padding-top: 0;
  font-family: "Quicksand-medium";
  text-align: center;
}
.hero__img {
  width: 100svw;
  height: 100svh;
  background-image: url("../img/avif/discount-desktop-hero.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-image: url("/img/index/home_desktop.png"); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: end;
}
@media screen and (max-width: 1200px) {
  .hero__img {
    width: 100svw;
    height: auto;
    background-image: url("../img/avif/discount-mobile-hero.avif");
    background-position: top center;
    justify-content: center;
  }
}
.title__container {
  /* height: 56rem;
    width: 91rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  padding: 7rem;
  flex: 0 1 85rem;
  background: rgba(53, 53, 53, 0.2);
}
@media screen and (max-width: 1200px) {
  .title__container {
    width: 100%;
    padding: 13rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 0rem;
  }
}
.title,
.title-2 {
  width: 100%;
  color: var(--color-grey-light);
  font-family: Quicksand-bold;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2625rem;
  text-align: left;
}
.title-2 {
  font-size: 2.5rem;
}
@media screen and (max-width: 1200px) {
  .title {
    font-size: 3rem;
  }
}
.subtitle {
  display: flex;
  flex-direction: column;
  font-family: Quicksand-regular;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.11825rem;
  gap: 1.6rem;
  padding: 1.5rem;
  color: var(--color-grey-light);
  border-radius: 1rem;
  /* background: var(--bg-color-card-semi-transparent); */
}
.subtitle__text {
  color: var(--color-grey-light);
  font-family: Quicksand-regular;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125.175%; /* 3.16613rem */
  letter-spacing: 0.13rem;
  text-align: left;
  list-style: disc;
}
@media screen and (max-width: 1200px) {
  .subtitle__text {
    font-size: 1.5rem;
  }
}
.text__hero-bold {
  color: var(--color-yellow);
}

/*PROMOTIONS*/
.promotion {
  position: relative;
  width: 80%;
  margin: 10rem auto;
  background-color: var(--bg-color-card);

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  padding: 7rem;
  border-radius: 1rem;
  gap: 6rem;
}
@media screen and (max-width: 1200px) {
    .promotion {
    width: 100%;
    /* width: 29rem; */
    flex-direction: column;
    padding: 6rem 0rem;
    border-radius: 0;
    gap: 0rem;
  }
}
.promotion__top {
  flex: 2;
  /* width: 70%; */
  padding: 0rem 8rem;
}
@media screen and (max-width: 1200px) {
  .promotion__top {
    padding: 0rem;
  }
}
.promotion__title {
  color: var(--text-color-secondary);
  text-align: center;
  font-family: Quicksand-bold;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125.175%; /* 5.47638rem */
  letter-spacing: 0.30625rem;
}
@media screen and (max-width: 1200px) {
  .promotion__title {
    font-size: 2rem;
  }
}
.promotion__social {
  display: flex;
  /* width: 48.1875rem; */
  height: auto;
  padding: 6rem 1rem;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-shrink: 0;
}
.promotion__social img {
  width: 6rem;
  height: 6rem;
}

.promotion__bottom {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 4rem;
  /* margin-bottom: 4rem; */
}
@media screen and (max-width: 1200px) {
  .promotion__bottom {
    width: 90%;
  }
}
.promotion__article-title {
  color: var(--text-color-secondary);

  font-family: Quicksand-medium;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 125.175%; /* 3.91169rem */
  letter-spacing: 0.21875rem;
}
@media screen and (max-width: 1200px) {
  .promotion__article-title {
    font-size: 1.5rem;
  }
    
}
.promotion__text,
.promotion__list-item, .promotion__list {
    text-align: left;
    width: 100%;
    
  font-family: "Quicksand-regular";
  color: var(--text-color-secondary);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 173%; /* 3.24375rem */
  letter-spacing: 0.13125rem;
}
@media screen and (max-width: 1200px) {
  .promotion__text {
    font-size: 0.8rem;
  }
}
.promotion__list{
    width: 96%;
    padding-bottom: 4rem;
}
@media screen and (max-width: 1200px) {
    .promotion__text, .promotion__list-item, .promotion__list {
      font-size: 1rem;
    }
  }

/* FIXED IMAGE */
.fixedimg {
    width: 40rem;
height: 36rem;
margin: 10rem auto;
flex-shrink: 0;
  background-image: url(../img/avif/discount-desktop-flag.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}
@media screen and (max-width: 1200px) {
  .fixedimg {
    width: 100%;
    background-image: url(../img/avif/discount-mobile-flag.avif);
  }
}