.main {
    width: 100svw;
    /* height: 100svh; */
    padding-top: 0;
    font-family: "Quicksand-medium";
    text-align: center;
  }
  .hero__img {
    width: 100svw;
    height: 100svh;
    background-image: url("../img/avif/home_desktop.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-image: url("/img/index/home_desktop.png"); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (max-width: 1200px) {
    .hero__img {
      width: 100svw;
      height: auto;
      background-image: url("../img/avif/home_mobile.avif");
      background-position: top center;
      justify-content: center;
    }
  }
  .title__container {
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9rem;
    flex: 0 1 58rem;
  }
  @media screen and (max-width: 1200px) {
    .title__container {
      width: 100%;
      padding: 7rem 0rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 0rem;
    }
  }
  .title {
    color: var(--text-color-secondary);
    font-size: 2.8rem;
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125.175%; /* 7.5105rem */
    letter-spacing: 0.42rem;
  }
  @media screen and (max-width: 1200px) {
    .title {
      font-size: 3rem;
    }
  }
  .subtitle {
    display: flex;
  
    flex-direction: column;
    gap: 1.6rem;
    padding: 1.5rem;
    color: var(--text-color-secondary);
    border-radius: 1rem;
    background: var(--bg-color-card-semi-transparent);
  }
  .subtitle__text {
    font-family: "Quicksand-regular";
    color: var(--text-color-secondary);
  
    text-align: center;
    font-family: Quicksand-regular;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125.175%; /* 3.16613rem */
    letter-spacing: 0.17706rem;
  }
  @media screen and (max-width: 1200px) {
    .subtitle__text {
      font-size: 1.5rem;
    }
  }
  .aside {
    flex: 0 1 39rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    gap: 12rem;
    margin-right: 5rem;
  }
  @media screen and (max-width: 1200px) {
    .aside {
      /* width: 95%; */
      flex: 0 1 29rem;
      margin: 1rem 1rem 13rem 1rem;
      /* padding: 7rem 0rem; */
      /* display: flex; */
      /* flex-direction: column; */
      /* gap: 2rem; */
      /* margin-bottom: 0rem; */
    }
  }
  .aside__discount {
    display: inline-flex;
    padding: 1.5rem 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.9375rem;
    background: linear-gradient(180deg, rgb(73, 16, 16), rgb(110, 7, 7));
  
    color: var(--text-color-primary);
    font-size: 2.5rem;
    font-family: Quicksand-bold;
    border: none;
    box-shadow: 0px 4px 23.9px 0px #000;
  }
  
  .aside__openinghours {
    color: var(--text-color-secondary);
    border-radius: 0.9375rem;
    background: var(--bg-color-card-semi-transparent);
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 125.175%; /* 3.16613rem */
    letter-spacing: 0.18rem;
    font-size: 2rem;
    padding: 2rem;
  
    font-family: Quicksand-regular;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
  }
  .openinghours__title {
    font-family: "Quicksand-medium";
    font-size: 2.5rem;
  }
  .openinghours__phone {
    font-size: 2.8rem;
  }
  .promotion {
    position: relative;
    width: 80%;
    margin: 10rem auto;
    background-color: var(--color-beige);
  
    display: flex;
    flex-wrap: wrap;
  
    padding: 2.5rem;
    border-radius: 3rem;
  }
  @media screen and (max-width: 1200px) {
    .promotion {
      width: 95%;
      /* width: 29rem; */
      flex-direction: column;
      padding: 6rem 1rem;
      border-radius: 0;
      gap: 6rem;
    }
  }
  .promotion__left {
    flex: 2;
    /* width: 70%; */
    padding: 0rem 8rem;
  }
  @media screen and (max-width: 1200px) {
    .promotion__left {
      padding: 0rem;
    }
  }
  .promotion__right {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-bottom: 4rem;
  }
  
  .promotion__title {
    color: #a00f0f;
    /* text-align: center; */
    font-family: "Quicksand-medium";
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  @media screen and (max-width: 1200px) {
    .promotion__title {
      font-size: 2rem;
    }
  }
  .promotion__text {
    font-family: "Quicksand-regular";
    font-size: 3.5rem;
  }
  @media screen and (max-width: 1200px) {
    .promotion__text {
      font-size: 1.7rem;
    }
  }
  .promotion__img {
    position: absolute;
    margin-left: auto;
    margin-bottom: 3rem;
    right: 7rem;
  }
  @media screen and (max-width: 1200px) {
    .promotion__img {
      margin-bottom: 5rem;
      right: 1rem;
      top: -4rem;
      height: 9rem;
    }
  }
  .discount {
    display: inline-flex;
    padding: 1.5rem 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.9375rem;
    background: linear-gradient(180deg, rgb(73, 16, 16), rgb(110, 7, 7));
  
    color: var(--text-color-primary);
    font-size: 2.5rem;
    font-family: Quicksand-bold;
    border: none;
    box-shadow: 0px 4px 23.9px 0px #000;
  }
  @media screen and (max-width: 1200px) {
    .discount,
    .aside__discount {
      padding: 1.5rem 1rem;
      font-size: 2rem;
    }
  }
  
  /* FIXED IMAGE */
  .fixedimg {
    background-image: url(../img/avif/home-table_desktop.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
  }
  @media screen and (max-width: 1200px) {
    .fixedimg {
      background-image: url(../img/avif/home-table_mobile.avif);
    }
  }
  
  .pizzeriainfo {
    width: 80%;
    margin: 14rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .pizzeriainfo__title,
  .top__title {
    color: var(--color-brown);
    text-align: center;
    font-family: "Quicksand-medium";
    font-size: 5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  @media screen and (max-width: 1200px) {
    .pizzeriainfo__title,
    .top__title {
      font-size: 2.5rem;
    }
  }
  .pizzeriainfo__text {
    color: var(--text-color-primary);
    font-family: "Quicksand-medium";
  
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  @media screen and (max-width: 1200px) {
    .pizzeriainfo__text {
      font-size: 1.8rem;
      text-align: left;
    }
  }
  
  /* SIGNATURE PIZZA MODULE */
  .signaturepizza {
    width: 80%;
    margin: 4.5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2.5rem;
    background-color: var(--bg-color-card);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  @media screen and (max-width: 1200px) {
    .signaturepizza {
      width: 100%;
      margin: 0rem;
      margin-bottom: 14rem;
    }
  }
  .article__top {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }
  
  .top__text {
    color: var(--text-color-secondary);
    font-family: "Quicksand-light";
    font-size: 2rem;
  
    text-align: center;
  
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .article__bottom {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    font-family: "Quicksand-regular";
    align-items: center;
  }
  @media screen and (max-width: 1200px) {
    .article__bottom {
      flex-direction: column;
    }
  }
  .bottom__img {
    width: 30%;
  }
  @media screen and (max-width: 1200px) {
    .bottom__img {
      width: 65%;
    }
  }
  .article__bottom-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
  }
  @media screen and (max-width: 1200px) {
    .article__bottom-content {
      width: 100%;
    }
  }
  .bottom__title {
    color: var(--text-color-secondary);
  
    text-align: center;
  
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .bottom__text {
    color: var(--text-color-secondary);
  
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  
    text-align: center;
    font-family: Quicksand-light;
    letter-spacing: 0.01288rem;
  }
  