.main {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-items: center;
}
.legal__text {
  width: 95%;
  margin: 4.5rem auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 7.5rem;
  background-color: var(--bg-color-card);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  background-color: var(--bg-color-card);
  color: var(--text-color-secondary);
  font-family: Quicksand-regular;
  font-size: 1.97094rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.11825rem;
}
@media screen and (max-width: 1200px) {
  .legal__text {
    width: 100%;
    margin: 0rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding: 2rem;
  }
}
.legal__list-title,
.legal__list-title + p {
  align-self: flex-start;
}

.legal__list {
  list-style: decimal;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-wrap: pretty;
        letter-spacing: 0.06375rem;
}
.legal__list li {
  color: var(--text-color-secondary);
  font-family: Quicksand-light;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.105rem;
}
@media screen and (max-width: 1200px) {
  .legal__list li {
    font-size: clamp(0.6rem, 1rem, 1.2rem);
    font-weight: 700;
    letter-spacing: 0.06375rem;
  }
  .legal__list-thanks{
    padding: 1rem;
  }
}

.subparagraphs__list {
  list-style: disc;
  padding-left: 2rem;
}
/* FIXED IMAGE */
.fixedimg {
  background-image: url(../img/avif/legalnotice-forn.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  display: block;
  width: 70%;
  margin: 5rem;
}
@media screen and (max-width: 1200px) {
  .fixedimg {
    display: none;
  }
}
